@model IEnumerable<LuckyPaw.Models.CartItemModel>

@{
    ViewData["Title"] = "CheckOut";
}

<h1>CheckOut Items</h1>
<p>Please prepare the check or money order when you drop off or pickup your puppies</p>
<h2>Puppies</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PricePuppyDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePuppy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartQty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.TrainingServicesPriceID == -1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePuppyDesc)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.PricePuppy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartQty)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    Total Puppy Cost: $ @ViewData["puppyTotal"]
</p>

<h2>Training Services</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartQty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.PricePuppyID == -1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceTraining)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartQty)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    Total Training Services: $ @ViewData["trainingServicesTotal"]
</p>