@model IEnumerable<LuckyPaw.Models.CartItemModel>

@{
    ViewData["Title"] = "Index";

    var count = 0;
}

<h1>Shopping Cart Items</h1>
<h2>Puppies</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PricePuppyDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePuppy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartQty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <!--If and variable code from https://www.w3schools.com/asp/razor_cs_logic.asp-->
            <!--A puppy has a training services price id of -1, so we check for that and display the puppy information-->
            @if (item.TrainingServicesPriceID == -1)
            {
                count++;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePuppyDesc)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.PricePuppy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartQty)
                    </td>
                    <td>
                        <a asp-action="RemovePuppy" asp-route-id="@item.PricePuppyID">Remove Puppy</a>
                        <!--
                    <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>-->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    <a asp-controller="PricingPuppyModels" asp-action="Index">Continue Shopping for Puppies</a>
</p>

<h2>Training Services</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartQty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <!--If and variable code from https://www.w3schools.com/asp/razor_cs_logic.asp-->
            <!--A training service has a puppy id of -1, so we check for that and display the training services information-->
            @if (item.PricePuppyID == -1)
            {
                count++;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceTraining)
                    </td>
                    <td>
                        <!--Text box code from https://www.tutorialsteacher.com/mvc/htmlhelper-textbox-textboxfor -->
                        @Html.TextBox("cartQty", @item.CartQty, null)
                        <a asp-action="AddOneToTrainingServicesCart" asp-route-id="@item.TrainingServicesPriceID">Add one |</a>
                        <a asp-action="RemoveOneFromTrainingServicesCart" asp-route-id="@item.TrainingServicesPriceID">Remove one |</a>
                        <!--@Html.DisplayFor(modelItem => item.CartQty)-->
                        <a asp-action="RemoveTrainingService" asp-route-id="@item.TrainingServicesPriceID">Remove Training Service</a>
                    </td>
                    <td>
                        <!--<a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>-->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    <a asp-controller="TrainingServicesPriceModels" asp-action="Index">Continue Shopping for Training Services</a>
</p>

@if (count > 0) {
<p>
    <a asp-action="CheckOut">CheckOut</a>
</p>
}